<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VBFileFind.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <VBFileFind.My.MySettings>
            <setting name="frm_EtatFenetre" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CheminRecherche" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="bInclureSousDossiers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Filtre" serializeAs="String">
                <value>*.*</value>
            </setting>
            <setting name="bDateMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bDateMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateMin" serializeAs="String">
                <value/>
            </setting>
            <setting name="DateMax" serializeAs="String">
                <value/>
            </setting>
            <setting name="bContient" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MotARechercher" serializeAs="String">
                <value/>
            </setting>
            <setting name="bCasse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TypeEncodage" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bOuvrirBlocNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmPosition" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="frmTaille" serializeAs="String">
                <value>790, 590</value>
            </setting>
            <setting name="FiltreExclusion" serializeAs="String">
                <value/>
            </setting>
            <setting name="RaccourciBlocNotesRechercherCtrl_f" serializeAs="String">
                <value>^(f)</value>
            </setting>
            <setting name="RaccourciBlocNotesSensibleCasseAlt_c" serializeAs="String">
                <value>%(c)</value>
            </setting>
            <setting name="RaccourciBlocNotesOccurrSuivAlt_S" serializeAs="String">
                <value>%(S)</value>
            </setting>
            <setting name="RaccourciBlocNotesOccurrSuivAnglaisAlt_F" serializeAs="String">
                <value>%(F)</value>
            </setting>
            <setting name="ExeBlocNotes" serializeAs="String">
                <value>Notepad.exe</value>
            </setting>
            <setting name="DelaiMSec1OuvertureBlocNotes" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="bBackgroundWorker" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bLogBilan" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bSignalerChaqueFichierBarreEtat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelaiAffichageBarreMsgSec" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DelaiAffichageListeFichiersSec" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="TailleColChemin" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="TailleColTailleTxt" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TailleColDate" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="TailleColDateAcces" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="bTailleMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bTailleMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TailleMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TailleMax" serializeAs="String">
                <value>1000000</value>
            </setting>
        </VBFileFind.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
